@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixin.scss";
.main_carousel {
  position: relative;
  .main_carousel_info {
    display: flex;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
    width: 1180px;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: $phone-width) {
      display: flex;
      width: 100%;
      top: 5%;
      padding: 0px 10px;
    }
    .firstdiv {
      font-size: 3.5rem;
      color: white;
      font-family: "NotoSerifLight";
      font-weight: 600;
      width: 600px;
      @media (max-width: $phone-width) {
        font-size: 2rem;
        width: 100%;
      }
    }
    .seconddiv {
      margin-top: 50px;
      font-size: 1.5rem;
      color: white;
      font-family: "NotoSerifLight";
      width: 600px;
      @media (max-width: $phone-width) {
        font-size: 1rem;
        width: 80%;
      }
    }
    a {
      margin-top: 50px;
      display: flex;
      width: 283px;
      height: 84px;
      font-size: 20px;
      background: linear-gradient(to bottom, #25d366, #128c7e);
      border-radius: 14px;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: white;
      transition: 0.3s ease;
      svg {
        margin-right: 5px;
      }
      &:hover {
        box-shadow: -10px 5px 25px rgb(0, 0, 0);
      }
    }
    .thirddiv {
      display: flex;
      margin-top: 80px;
      .thirddiv_relative {
        padding: 10px;
        border-radius: 60px;
        background-color: white;
        display: flex;
        align-items: center;
        margin-right: 20px;
        div:nth-of-type(1) {
          width: 50px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 100px;
          }
        }
        div:nth-of-type(2) {
          margin: 0px 10px;
          font-size: 1rem;
          font-family: "DejaVuSerif";
        }
        @media (max-width: $phone-width) {
          // &:nth-of-type(2),
          // &:nth-of-type(3) {
          //   display: none;
          // }
          margin-top: 10px;
        }
      }
      @media (max-width: $phone-width) {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .main_carousel_title {
    height: 750px;
    @media (max-width: $phone-width) {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left top;
      @media (max-width: $phone-width) {
        object-position: 35% 50%;
      }
    }
  }
}
