.back_ground {
  padding: 20px 0px;
  height: 100vh;
  background: linear-gradient(-45deg, #7e3e2a, #611934, #191164, #0f5f4c);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .root_div {
    border-radius: 10px;
    background: linear-gradient(-45deg, rgb(37, 37, 37), rgb(34, 34, 34));
    width: 1280px;
    margin: auto;
  }
}
