@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variables";

@media (min-width: $desktop-width) {
  .manageBouquet_header {
    background-color: $color-profile-div;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #d8ccc4 1px solid;
  }

  .bouquet_column {
    width: 33%;
    text-align: center;
    height: auto;
  }

  .manageBouquet_body {
    display: flex;
    flex-direction: column;
  }

  .Bouquet {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    button {
      background-color: #eee2da;
      border: none;
      font-size: 1.2rem;
      text-decoration: none;
      color: black;
      transition: 0.3s;
      font-family: "NotCourierSans";
      margin: 0px 5px;
      &:hover {
        color: rgb(73, 73, 73);
      }
    }
  }
  .manageBouquets_message {
    @include notificationDiv;
  }
  .visible {
    opacity: 1;
    transform: translateY(0);
  }
  .hidden {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@media (max-width: $phone-width) {
  .manageBouquet_header {
    display: none;
  }

  .bouquet_column {
    text-align: center;
    height: auto;
    align-items: center;
    margin: 5px !important;
  }

  .manageBouquet_body {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .Bouquet {
    border-bottom: 1px solid #ccc;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    button {
      margin: 5px;
      border: none;
      font-size: 1.2rem;
      text-decoration: none;
      color: #a49864;
      transition: 0.3s;
      font-family: "NotCourierSans";
      margin: 0px 5px;
      &:hover {
        color: black;
      }
    }
  }
  .manageBouquets_message {
    @include notificationDiv;
  }
  .visible {
    opacity: 1;
    transform: translateY(0);
  }
  .hidden {
    opacity: 0;
    transform: translateY(-10px);
  }
}
