@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variables";

@media (min-width: $desktop-width) {
  .modifyCategory_main {
    width: 60%;
  }
  .modifyCategory_form {
    display: flex;
    flex-direction: column;
    .modifyCategory_message {
      @include notificationDiv;
    }
    .visible {
      opacity: 1;
      transform: translateY(0);
    }
    .hidden {
      opacity: 0;
      transform: translateY(-10px);
    }

    label {
      font-family: "NotoSerifLight";
      font-size: 1.5rem;
    }
    input {
      border: 1px solid;
      border-radius: 10px;
      padding: 10px;
    }
    [id="photo"] {
      display: none;
    }
    [For="photo"] {
      margin-top: 10px;
      text-align: center;
      width: 35%;
      display: inline-block;
      padding: 5px 10px;
      background-color: #888888;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #3b3b3b; /* Чуть темнее при наведении */
      }
    }
    .div_preview {
      display: flex;
      flex-wrap: wrap;
      .preview {
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin: 10px 10px 0px 0px;
        width: 190px;
        height: 200px; /* Убедитесь, что у контейнера есть высота для корректного отображения */

        img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.3s;
        }

        button {
          visibility: hidden; /* Элемент скрыт */
          opacity: 0; /* Прозрачный */
          transition: opacity 0.3s ease, visibility 0.3s ease;
          position: absolute;
          right: 5px;
          background-color: rgba(0, 0, 0, 0.6);
          color: white;
          border-radius: 50%;
          padding: 5px;
          cursor: pointer;
          border: 1px solid black;
          width: 20%;
        }

        &:hover button {
          visibility: visible; /* Делает элемент видимым */
          opacity: 1; /* Делает элемент непрозрачным */
          z-index: 5;
        }
        &:hover img {
          filter: brightness(50%);
        }
      }
    }
    button {
      cursor: pointer;
      position: relative;
      display: flex;
      width: 100%;
      min-height: 45px;
      color: #fff;
      font: 15px "Kalnia", sans-serif;
      text-transform: uppercase;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px 20px;
      margin: 10px 0 20px 0;
      border: solid 1px #7a9874;
      background: #7a9874;
      border-radius: 5px;
      box-sizing: border-box;
      width: 30%;
    }
  }
}

@media (max-width: $phone-width) {
  .modifyCategory_main {
    padding: 0px 5px;
  }
  .modifyCategory_form {
    display: flex;
    flex-direction: column;
    .modifyCategory_message {
      @include notificationDiv;
    }
    .visible {
      opacity: 1;
      transform: translateY(0);
    }
    .hidden {
      opacity: 0;
      transform: translateY(-10px);
    }

    label {
      font-family: "NotoSerifLight";
      font-size: 1.5rem;
    }
    input {
      border: 1px solid;
      border-radius: 10px;
      padding: 10px;
    }
    [id="photo"] {
      display: none;
    }
    [For="photo"] {
      margin-top: 10px;
      text-align: center;
      display: inline-block;
      padding: 5px 10px;
      background-color: #888888;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #3b3b3b; /* Чуть темнее при наведении */
      }
    }
    .div_preview {
      display: flex;
      flex-wrap: wrap;
      .preview {
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin: 10px 10px 0px 0px;
        width: 190px;
        height: 200px; /* Убедитесь, что у контейнера есть высота для корректного отображения */

        img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.3s;
        }

        button {
          visibility: hidden; /* Элемент скрыт */
          opacity: 0; /* Прозрачный */
          transition: opacity 0.3s ease, visibility 0.3s ease;
          position: absolute;
          right: 5px;
          background-color: rgba(0, 0, 0, 0.6);
          color: white;
          border-radius: 50%;
          padding: 5px;
          cursor: pointer;
          border: 1px solid black;
          width: 20%;
        }

        &:hover button {
          visibility: visible; /* Делает элемент видимым */
          opacity: 1; /* Делает элемент непрозрачным */
          z-index: 5;
        }
        &:hover img {
          filter: brightness(50%);
        }
      }
    }
    button {
      cursor: pointer;
      position: relative;
      display: flex;
      width: 100%;
      min-height: 45px;
      color: #fff;
      font: 15px "Kalnia", sans-serif;
      text-transform: uppercase;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px 20px;
      margin: 10px 0 20px 0;
      border: solid 1px #7a9874;
      background: #7a9874;
      border-radius: 5px;
      box-sizing: border-box;
      width: 30%;
    }
  }
}
