@import "../../assets/styles/variables.scss";
.test_main {
  border: 2px solid red;
  margin-top: 100px;
}
.main {
  width: 1180px;
  margin: auto;
  .main_priceSection {
    margin-top: 10px;
    margin-left: 10px;
    button {
      padding: 15px 50px;
      background-color: $color-button;
      color: white;
      border: none;
      border-radius: 5px;
      font-family: "DejaVuSerif";
      @media (max-width: $phone-width) {
      }
    }
    .main_priceSection_checkList {
      background-color: #f9f9f9;
    }
    .main_priceSection_categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      a {
        text-decoration: none;
        color: black;
        padding: 10px;
        border: $color-button 1px solid;
        border-radius: 5px;
        margin: 10px 5px 0px 5px;
        font-size: 1.3rem;
        transition: 0.3s ease;
        font-weight: 100;
        &:hover {
          background-color: $color-button;
          color: $color-background;
        }
      }
    }
  }
  @media (max-width: $phone-width) {
    width: 100%;
  }
}
.main_flowersSection {
  .main_flowersSection_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 1180px;
    margin: auto;
    @media (max-width: $phone-width) {
      width: 100%;
    }
  }
  .showMoreflowers {
    display: flex;
    justify-content: center;
    button {
      border: none;
      position: relative;
      text-decoration: none;
      color: black;
      margin: 10px;
      font-size: 1rem;
      font-family: "NotoSerifLight";
      background-color: transparent;
      font-weight: 600;
      &::before {
        content: "";
        position: absolute;
        width: 160%;
        height: 165%;
        border: #fadc55 solid 1px;
        transform: translate(-18%, -15%) rotate(-10deg) scale(0);
        border-radius: 50%;
        transition: transform 0.4s ease;
        z-index: 2;
      }
      &:hover::before {
        transform: translate(-25%, -15%) rotate(-10deg) scale(1);
      }
    }
  }
}

//Секция с контактом
.main_contact_width {
  width: 1180px;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 50px;
  background-color: #f9f9f9;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.08);
  .contact_firstSection {
    width: 33%;
    padding: 0px 40px;
    div:nth-child(1) {
      font-family: "NotoSerifLight";
      font-size: 1.5rem;
    }
    div:nth-child(2) {
      font-family: "Kalnia";
      font-size: 1.2rem;
      color: gray;
    }
  }
  .contact_secondSection {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 33%;
    .contact_secondSection_input {
      margin-bottom: 15px;
      input {
        width: 100%;
        padding: 15px 40px;
        border: 1px solid rgb(145, 145, 145);
        border-radius: 3px;
        font-family: "TimesNewRoman";
        &:focus {
          border: 1px solid rgb(145, 145, 145);
          outline: none;
          box-shadow: none;
        }
      }
      img {
        position: absolute;
        top: 28px;
        left: 15px;
        transform: translateY(-50%);
      }
    }
    button {
      cursor: pointer;
      position: relative;
      display: flex;
      width: 100%;
      min-height: 65px;
      color: #fff;
      font: 15px "Kalnia", sans-serif;
      line-height: 20px;
      text-transform: uppercase;
      align-items: center;
      justify-content: center;
      text-align: center;
      vertical-align: top;
      padding: 10px 20px;
      margin: 0 0 20px 0;
      border: solid 1px #7a9874;
      background: #7a9874;
      border-radius: 5px;
      box-sizing: border-box;
    }
    .contact_secondSection_checkbox {
      display: flex;
      .custom_checkbox {
        position: relative;
        display: inline-block;
        cursor: pointer;
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }
        .checkmark {
          width: 20px;
          height: 20px;
          background-color: #f9f9f9;
          border: 2px solid #ddd;
          border-radius: 50%;
          display: inline-block;
          position: relative;
          transition: all 0.2s ease;
        }
        input:checked + .checkmark {
          border: 1px solid #4caf50;
          background-color: #f9f9f9;
        }
        input:checked + .checkmark::after {
          content: "";
          position: absolute;
          left: 6px;
          top: 2px;
          width: 6px;
          height: 12px;
          border: solid #4caf50;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
      div {
        margin-left: 5px;
        color: #414141;
        font-size: 12px;
        font-style: italic;
        line-height: 1.1;
      }
    }
  }
  .contact_thirdSection {
    padding: 0px 40px;
    width: 33%;
    img {
      width: 39%;
      border-radius: 100px;
    }
    div {
      font-family: "RalewayRegular";
      font-size: 1rem;
      color: rgb(75, 75, 75);
    }
  }
}

//Секция с описанием
.main_description {
  width: 1180px;
  margin: auto;
  padding-bottom: 10px;
  background-color: #ffffff06;
  .description_firstSection {
    display: flex;
    .description_firstSection_text {
      width: 490px;
      div:nth-child(1) {
        font-family: "Raleway", sans-serif;
        font-size: 2rem;
        font-weight: bold;
      }
      div:nth-child(2) {
        font-family: "Raleway", sans-serif;
        font-size: 1.5rem;
        @media (max-width: $phone-width) {
          font-size: 1.2rem;
          margin-bottom: 10px;
        }
      }
      @media (max-width: $phone-width) {
        width: 100%;
      }
    }
    .description_firstSection_img {
      @media (max-width: $phone-width) {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        img {
          width: 100%;
        }
      }
    }
    @media (max-width: $phone-width) {
      display: flex;
      flex-direction: column;
    }
  }
  .description_secondSection {
    margin-top: 10px;
    font-family: "Lora", serif;
    font-size: 1rem;
    line-height: 1.8;
  }
  h3 {
    margin: 15px 0px;
    font-family: "Crimson Text", serif;
    font-weight: 900;
    color: black;
    @media (max-width: $phone-width) {
      padding: 0;
    }
  }
  .description_thirdSection {
    font-family: "RalewayRegular";
  }
  @media (max-width: $phone-width) {
    width: 100%;
    padding: 10px;
  }
}

.main_someInfo {
  width: 100%;
  background-color: #faf6f3;
  height: 118px;
  display: flex;
  .someInfo_centre {
    width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .someInfo_image {
      width: 50px;
      height: 50px;
      background-color: #6f886a;
      border-radius: 100px;
      margin-right: 10px;
      p {
        font-size: 1.2rem;
        margin-left: 8px;
        margin-top: 9px;
        color: white;
      }
      img {
        width: 60%;
        height: 100%;
        margin-left: 10px;
      }
    }
    .someInfo_image2 {
      width: 50px;
      height: 50px;
      background-color: #6f886a;
      border-radius: 100px;
      margin-right: 10px;
      img {
        width: 60%;
        height: 60%;
        margin-left: 11px;
        margin-top: 11px;
      }
    }
    .someInfo_flex {
      display: flex;
      .someInfo_textBold {
        font-family: "TimelessMemoriesRegular";
        font-weight: bold;
        margin-bottom: 0px;
      }
      .someInfo_textNormal {
        font-family: "TimelessMemoriesRegular";
        font-weight: normal;
        margin-bottom: 0px;
      }
    }
  }
}
