@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variables";

.footer_maindiv {
  z-index: 5;
  .NavBar_Main_size2 {
    width: 100%;
    background-color: #f7f0eb;
    display: flex;
    justify-content: center;
    .NavBar_Main_Section2 {
      display: flex;
      height: 60px;
      width: 1180px;
      .navLinks_menu {
        display: flex;
        width: 180px;
        align-items: center;
        img {
          width: 100%;
        }
        @media (max-width: $phone-width) {
          width: 100%;
          display: flex;
          flex-direction: column;
          display: none;
        }
      }
      .burger {
        display: none;
      }
      .navLinks_menu {
        height: 100%;
      }
      .navLinks__categories {
        display: flex;
        align-items: center;
        div {
          margin: 0px 5px;
          a {
            position: relative;
            text-decoration: none;
            color: black;
            margin: 10px;
            font-size: 1rem;
            font-family: "NotoSerifLight";
            &::before {
              content: "";
              position: absolute;
              width: 160%; // ← будет шириной как a
              height: 165%;
              border: #9b8f5b solid 1px;
              transform: translate(-18%, -15%) rotate(-10deg) scale(0);
              border-radius: 50%;
              transition: transform 0.4s ease;
              z-index: 2;
            }
            &:hover::before {
              transform: translate(-25%, -15%) rotate(-10deg) scale(1);
            }
          }
        }
        @media (max-width: $phone-width) {
          display: flex;
          flex-direction: column;
          div {
            margin: 5px 0px;
          }
        }
      }
      @media (max-width: $phone-width) {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .footer_maindiv_secondsection_size {
    width: 100%;
    background-color: #f7f0eb;
    border-top: #ebe4df solid 1px;
    .footer_maindiv_secondsection {
      padding: 40px 0px;
      width: 1180px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      .left_side {
        display: flex;
        align-items: center;
        a {
          color: $color-button-secondary;
          text-decoration: underline;
          margin-right: 30px;
          &:hover {
            text-decoration: none;
          }
        }
        @media (max-width: $phone-width) {
          display: none;
        }
      }
      .right_side {
        display: flex;
        align-items: center;
        div {
          margin-left: 10px;
        }
        @media (max-width: $phone-width) {
          display: flex;
          justify-content: center;
        }
      }
      @media (max-width: $phone-width) {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .footer_maindiv_bot {
    display: flex;
    justify-content: space-evenly;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
