@import "../../assets/styles/variables";

.categorySpecial_main {
  width: 1180px;
  margin: auto;
  padding-bottom: 10px;
  @media (max-width: $desktop-width) {
    width: 100%;
  }
}
h3 {
  padding: 0px 12px;
  margin: 15px 0px;
  font-family: "TimesNewRoman";
  font-weight: bold;
  color: $color-text;
}

h5 {
  padding: 0px 12px;
  margin: 5px 0px;
  font-family: "TimesNewRoman";
  color: gray;
  font-style: italic;
}
