@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variables";
.instagram_icon {
  display: inline-block;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  &__svg {
    padding: 7px;
    color: $color-button;
    background-color: #e6d8cf;
    transition: 0.2s ease;
    border-radius: 100px;

    &:hover {
      background-color: $color-button;
      color: #ffffff;
    }
  }
}
