@import "../../assets/styles/variables";
.menu_button {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: $color-secondary;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 30px 50px;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: $color-button-secondary;
  }
  @media (max-width: $phone-width) {
    padding: 0;
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.dots {
  display: grid;
  grid-template-columns: repeat(3, 4px);
  grid-template-rows: repeat(3, 4px);
  gap: 4px;

  span {
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 50%;
    display: block;
  }
}
.text {
  font-family: "NotoSerifLight";
  font-weight: normal;
  @media (max-width: $phone-width) {
    display: none;
  }
}
