@import "../../assets/styles/variables";
@import "../../assets/styles/mixin.scss";

.profileOrders_header {
  background-color: $color-primary;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: #d8ccc4 1px solid;
  @media (max-width: $phone-width) {
    // display: none;
  }
}

.profileOrders_body {
  display: flex;
  flex-direction: column;
}

.profileOrders_order {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  button {
    background-color: #eee2da;
    border: none;
    font-size: 1.2rem;
    text-decoration: none;
    color: #a49864;
    transition: 0.3s;
    font-family: "NotCourierSans";
    &:hover {
      color: black;
    }
  }
}

.profileOrders_column {
  width: 16.5%;
  text-align: center;
  height: auto;
}

.pagination {
  display: flex;
  list-style: none;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  cursor: pointer;
  padding: 6px 12px;
  border: 1px solid $color-button;
  border-radius: 4px;
  a {
    color: $color-text;
    text-decoration: none;
  }
}

.pagination .active {
  background-color: $color-button;
  color: $color-background;
  font-weight: bold;
}

.iconOnly {
  display: none;
}
.NoOrdersInfo {
  color: gray;
  font-style: italic;
}
.textOnly {
  display: inline-block;
}
@media (max-width: $phone-width) {
  .iconOnly {
    display: inline-block;
  }

  .textOnly {
    display: none;
  }
}
