@import "../../assets/styles/variables.scss";
.flexLayOut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .nameOfProject {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    margin-top: 50px;
    color: white;
    border-bottom: 1px solid white;
    transition: 0.3s ease;
    width: max-content;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.back_ground {
  width: 100%;
  min-height: 100svh;
  position: relative;
  top: 138px;
  background: white;
  .make_full_height {
    min-height: 100svh;
  }
  .site_frame {
    padding: 5px;
    position: absolute;
    top: -123px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    pointer-events: none;
    z-index: 5;
    border: 4px solid transparent;
    border-radius: 12px;
    background: linear-gradient(90deg, #ff0000, #ff8c00, #ffd700, #ff0000);
    background-size: 300% 100%;
    animation: border-flow 6s linear infinite;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    @media (max-width: $phone-width) {
      display: none;
    }
  }

  @keyframes border-flow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .root_div {
    margin: auto;
    position: relative;
    z-index: 1;
  }
  @media (max-width: $phone-width) {
    top: 90px;
  }
}
