$phone-width: 767px;
$desktop-width: 768px;

$color-background: #f5f1e9;
$color-primary: #e8e1d5;
$color-secondary: #7b8d72;
$color-text: #2f2f2f;
$color-text-secondary: #ffffff;
$color-button: #6e7d67;
$color-button-secondary: #55634f;
$color-button-hover: #8b9b80;
$color-profile-div: #e8e1d5;

$navbar-colormenu: rgb(196, 196, 196);

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
